/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles start */

* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: rgb(19, 19, 19);
}

.content-description {
    font-size: 0.9rem;
    color: rgb(114, 114, 114);
    line-height: 23px;
    padding-top: 10px;
}

/* shared styles end */


/* header section start */
header {
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;

}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 20px;
}

nav li a {
    text-decoration: auto;
    color: rgb(66, 66, 66);
    font-weight: 500;
    font-size: 1.1rem;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: rgb(19, 19, 19);
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 20px;

}

.btn-primary {
    border-radius: 8px;
    background-color: rgb(255, 144, 14);
    padding: 15px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    border: 0;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

/* header section end */


/* main section start */
main {
    max-width: 1200px;
    margin: 70px auto;
}

/* main section end */

/* teams section start */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding-left: 100px;
}

.teams-img-container img {
    width: 240px;
    height: 240px;
}

.teams-content {
    padding-left: 50px;
    padding-right: 70px;
}

.teams-content>h3 {
    font-size: 2.8rem;
}

.teams-content h3,
p {
    padding-bottom: 20px;
}

.teams-content-text-quick-list {
    color: rgb(114, 114, 114);
    font-weight: 500;
}

.teams-content-text-of-our {
    font-weight: 700;
}

.teams-content-text-features {
    font-weight: 700;
    color: rgb(255, 144, 14);
}

/* teams section end */

/* features section start */
.feature-container {
    display: flex;
    padding: 130px 70px 0 70px;
    gap: 40px;
}

.features-content h1 {
    color: rgb(19, 19, 19);
    font-size: 2.8rem;
    font-weight: 700;
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 20px;

}

.features-content .card {
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
    padding: 20px 30px 10px 30px
}

.features-img img {
    max-width: 500px;
    margin-left: 80px;
    height: 850px;
}

.ten-years-badges {
    border-radius: 8px;
    background: rgb(255, 144, 14);
    text-align: center;
    padding: 30px;
    max-width: 185px;
    position: relative;
    bottom: 100px;
}

.ten-years-badges h1 {
    font-weight: 700;
    font-size: 3rem;
    color: rgb(255, 255, 255);
}

.ten-years-badges p {
    font-weight: 500;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
}

/* features section end */

/* facts sections start */
.facts-container {
    padding: 5px 70px 50px 70px;
}

.facts-container .content-description {
    max-width: 500px;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    text-align: center;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    padding: 30px;
}

.facts-card-container .extra-padding {
    padding: 30px 41px;
}

.card h2,
p {
    color: rgb(66, 66, 66);
    font-weight: 600;
}

.card h2 {
    font-size: 2.8rem;
}

.card p {
    font-size: 1.4;
}

/* facts sections end*/

/* sponsors section start */
.sponsors-container {
    margin-top: 50px;

}

.sponsors-container>.sponsors-title,
.sponsors-description {
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
}

.sponsors-container>.sponsors-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: rgb(19, 19, 19);
    padding-bottom: 20px;
}

.sponsors-container>.sponsors-description {
    font-size: 0.9rem;
    color: rgb(114, 114, 114);
    line-height: 23px;
}

.sponsors-logo {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    align-items: center;
}

.sponsors-logo img {
    height: 30px;
    width: 140px;
    filter: grayscale(100%);
}

/* sponsors section end */


/* footer section start */
footer {
    border-radius: 8px;
    background: rgb(255, 244, 231);
    max-width: 1440px;
    margin: 50px 240px 0px 240px;
}

footer p {
    padding: 25px;
    color: rgb(66, 66, 66);
    font-size: 1rem;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
}
/* footer section end */




/* responsive media queries */
/* mobile devices start*/
@media screen and (max-width: 576px) {
    nav,
    .teams-container,
    .feature-container,
    .facts-card-container,
    .sponsors-logo {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 50px;
    }

    header {
        padding: 20px;
    }

    .banner-title {
        font-size: 3.3rem;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
        padding-left: 0;
    }

    .features-content h1 {
        font-size: 2.6rem;
    }

    .features-content .card {
        padding: 15px 20px 10px 20px;
    }

    .features-img img {
        max-width: 300px;
        margin-left: 0px;
        height: 500px;
    }

    .ten-years-badges {
        margin-left: -30px;
    }

    footer {
        margin: 0;
    }
}
/* mobile devices end*/



/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    nav,
    .teams-container,
    .feature-container,
    .facts-card-container,
    .sponsors-logo {
        flex-direction: column;
        gap: 30px;
        margin-bottom: 50px;
    }

    header {
        padding: 50px;
    }

    .banner-title {
        font-size: 3.5rem;
    }

    .teams-img-container {
        padding-left: 0;
    }

    footer {
        margin: 0 50px;
    }
}
/* responsive media queries end*/